.articleContent {
  border-radius: var(--radius);
  box-shadow: 1rem 0 2rem -2rem #0003, -1rem 0 2rem -2rem #0003;
  margin-left: -1rem;
  margin-right: -1rem;
  padding: 1rem;
}

.articleContent h2,
.articleContent h3 {
  line-height: 2em;
  margin-top: 2em;
}

.articleContent h2 {
  border-radius: var(--radius);
  border: 1px solid lightgrey;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
}

.articleContent h3 {
  font-size: 1.3rem;
}
  .articleContent h3::before {
    background-image: url("../img/icon-512.png");
    background-size: 100%;
    content: "";
    display: inline-block;
    height: 2em;
    vertical-align: middle;
    margin-inline-end: 0.2em;
    width: 2em;
  }

.articleContent pre {
  overflow: auto;
}

.articleContent figure {
  background-color: var(--box-bg);
  border-radius: var(--radius);
  border: 1px solid var(--box-border-color);
  font-size: var(--font-small);
  padding: 0.5rem 1rem;
  text-align: center;
}
  .articleContent figure a {
    display: block;
  }
  .articleContent figure img {
    height: auto;
    max-height: 50vh;
    max-width: 100%;
    width: auto;
  }
  .articleContent figure a img {
    transition: transform 100ms;
  }
  .articleContent figure a:hover img {
    transform: scale(1.01);
  }

.articleContent img.bordered {
  border-radius: var(--radius);
  border: 1px solid lightgray;
  box-shadow: 0 0 1rem #0003;
}
