.article {
  line-height: 1.8;
}

h1.article-title {
  border: 10px solid transparent;
  border-image: url("../img/fukidashi-border.gif") 10;
  margin: 0 80px;
  min-height: 2em;
  padding: 10px;
}
  @media (max-width:640px) {
    h1.article-title {
      margin-right: 0;
    }
  }
  h1.article-title::before {
    background-image: url("../img/fukidashi-char.gif");
    content: "";
    display: block;
    float: left;
    height: 78px;
    margin-left: -72px;
    width: 60px;
  }

a.article-titleLink {
  color: inherit;
  display: block;
  text-decoration: none;
}
  a.article-titleLink:hover {
    text-decoration: underline;
  }

.article-status {
  font-size: var(--font-small);
}

.article-statusItem + .article-statusItem::before {
  color: #eee;
  content: "|";
  margin: 0.5rem;
}
