* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--basic-bg);
  color: var(--basic-fg);
  margin: 0;
  font-family: "游ゴシック", sans-serif;
}

article,
figcaption,
figure,
form,
h1,
h2,
h3,
ol,
p,
ul {
  margin-top: 1em;
}

:where(ol, ul) {
  padding-inline-start: 40px;
}
  li > :where(ol, ul) {
    margin-top: 0;
  }

li + li {
  margin-top: calc(var(--clickable-height) - 1em);
}

:where(:link, :visited) {
  color: var(--link-fg);
}
  :where(:link, :visited):hover {
    color: var(--link-hover-fg);
  }
