.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
  @media (max-width:640px) {
    .header {
      grid-template-columns: auto;
      grid-template-rows: auto auto;
    }
  }

.header-Logo {
  margin-bottom: 1em; /* space for rotated logo */
}

.header-Logo::after {
  clear: both;
  content: "";
  display: block;
}

a.header-Logo-siteNameBlock {
  background-color: var(--theme-bg);
  border-radius: 0.2em;
  box-shadow: 3px 3px 5px #0009;
  color: var(--theme-fg);
  display: block;
  float: left;
  line-height: 1em;
  outline-offset: -5px;
  outline: 1px dashed #99f;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  transform: rotate(-5deg);
}

.header-Logo-siteName {
  font-family: Slackey;
  font-size: 36px;
  padding: 0.3em 0;
}

.header-Logo-siteCopy {
  font-size: 12px;
  opacity: 0.8;
}

.header-infoList {
  border-radius: 0.3rem;
  border: 1px solid #eee;
  box-shadow: 0 0 2rem #0001 inset;
  font-size: var(--font-small);
  list-style-type: none;
  padding: 0.5rem 1rem;
}
  @media (max-width:640px) {
    .header-infoList {
      font-size: var(--font-base);
    }
  }

a.header-infoItem {
  display: inline-grid;
  grid-template-columns: 20px auto;
}
