ul.list-list {
  list-style-type: none;
  padding: 0;
}

a.list-link {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  display: block;
  text-decoration: none;
}
  a.list-link:where(:focus, :hover) {
    background-color: var(--basic-moderate-bg);
  }

.list-postTime {
  color: var(--basic-moderate-fg);
  display: block;
  font-size: var(--font-small);
}

.list-postTitle {
  text-decoration: underline;
}

.list-pages {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
  .list-pages a {
    display: block;
  }

.list-nextPage {
  text-align: right;
}
