.navbar {
  background-color: var(--theme-bg);
  color: var(--theme-fg);
}
  .navbar a {
    color: inherit;
  }

.navbar-inner {
  display: flex;
  justify-content: space-between;
}

.navbar-siteTitle {
  font-weight: bold;
}

.navbar-itemList {
  display: flex;
}

.navbar-Item {
  margin-left: 1em;
}

.navbar-Item-content {
  display: none;
}
