/* colors */
:root {
  --basic-bg: #fff;
  --basic-fg: #333;
  --box-bg: #f9f9f9;
  --box-border-color: #eee;
  --link-fg: #059;
  --link-hover-fg: #a00;
  --theme-bg: #036;
  --theme-fg: #fff;
}

/* sizes */
:root {
  --clickable-height: 1rem;
  --font-base: 16px;
  --font-small-x: 0.6rem;
  --font-small: 0.7rem;
  --radius: 0.3rem;
  font-size: var(--font-base);
}
  @media (pointer:coarse) {
    :root {
      --clickable-height: 27px;
    }
  }

:root {
  --transition-duration: 200ms;
}
