.functions-shortcode_translate_dest {
  border-left: 0.3em solid #ddd;
  margin-left: 3em;
  margin-top: 1em;
  padding-left: 0.5em;
}
  .functions-shortcode_translate_dest::before {
    content: "↳";
    color: #eee;
    display: grid;
    font-size: 3rem;
    height: 3rem;
    line-height: 3rem;
    margin-bottom: -3rem;
    place-items: center;
    text-indent: -4rem;
    width: 3rem;
  }
  .functions-shortcode_translate_dest > :first-child {
    margin-top: 0;
  }
